@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Lilita", sans-serif;
}

.logo img {
    width: 150px;
}

.aboutme a {
    color: #282622;
    text-decoration: none;
    padding: 0 15px;
    font-size: 30px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px #2826228f;
}

nav {
    background-color: #1397ab;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 3px 3px #9bf2ffb0;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items a {
    color: black;
    text-decoration: none;
    padding: 0 15px;
    font-size: large;
}

.nav-items button {
    border: none;
    padding: 8px 16px;
    background-color: #2aacc0;
    color: rgb(62, 24, 97);
    border-radius: 10px;
    font-size: medium;
}

.nav-items button:hover {
    background-color: rgba(185, 91, 185, 0.577);
}

.link-active {
    border-bottom: 1px solid #282622;
}

.link {
    margin: 3px;
    color: #282622;
    text-decoration: none;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

.center-content img {
    text-align: center;
    padding: 20px;
    max-width: 50%;
    height: auto;
}

.under-cons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30%;
}

.center-content .card {
    margin-top: 20px;
}

.center-content img {
    max-width: 200px;
    height: auto;
}

.information {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 50%;
}

.section-store {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    height: 5vh;
}
.section-store-again {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    height: 60vh;
    margin-left: 300px;
    margin-bottom: -100px;
}
.section-dash {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    height: 5vh;
}
.lampents {
    height: 60vh;
}

.product-form {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.product-form h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-form label,
.product-form input,
.product-form textarea,
.product-form button {
    display: block;
    margin-bottom: 10px;
}

.product-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.product-card {
    width: 50%;
    padding: 20px;
    box-shadow: 3px 3px 3px #4e4b467b;
}

.product-card .card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 5%;
}

.product-card h2 {
    font-size: 25px;
    margin: 0;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin: 5px 0;
}

.product-card p {
    margin: 5px 0;
}

.card img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #121212;
    color: #EFEFEF;
    padding: 16px;
    text-align: center;
}

#toggle-mode {
    width: 50px;
    height: 50px;
    margin: 30px;
}

body.light-mode {
    background-color: #EFEFEF;
    color: #282622;
}

body.dark-mode {
    background-color: #282622;
    border-color: #EFEFEF;
}

body.dark-mode .navbar {
    background-color: #282622;
    color: #EFEFEF;
    box-shadow: 3px 3px 3px 3px #121212;
}

.card.dark-mode {
    color: #EFEFEF;
    text-shadow: 4px 4px 4px #757cbb;
}

.main-page.dark-mode {
    color: #EFEFEF;
}

.link-active.dark-mode {
    color: white;
}

.link.dark-mode {
    color: white;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    width: calc(25% - 20px); 
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    cursor: pointer;
}

.product-image img {
    max-width: 100%;
    height: auto;
    margin: 5px 0;
}

.product-card h3 {
    font-size: 20px;
    margin-top: 10px;
}

.product-card .product-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
    text-align: left;
    padding: 10px;
}

.product-card .product-details p {
    margin: 5px 0;
}

.product-card.expanded {
    max-height: none;
    overflow: visible;
    cursor: initial;
}

.product-card.expanded .product-details {
    max-height: 1000px;
}

.sectionform {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 70%;
    max-width: 500px;
}

.addform {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.addform h2 {
    font-size: 24px;
}

.addform label {
    font-weight: bold;
}

.addform select,
.addform input[type="text"],
.addform input[type="number"],
.addform textarea,
.addform input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addform button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.kembali {
    margin-top: 10px;
}
.navbar-add{
    justify-content: center;
}
.nav-adding {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-adding a {
    color: black;
    text-decoration: none;
    padding: 0 15px;
    font-size: large;
}
.adding {
    display: flex;
    text-align: center;
    margin: 0;
    justify-content: center;
}
.kembali a{
    color: black;
    text-decoration: none;
}

.editing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.editing-form {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 500px;
}

.editing-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.editing-form img {
    max-width: 30%;
    height: auto; 
}

.editing-form label {
    font-weight: bold;
}

.editing-form select,
.editing-form input[type="text"],
.editing-form input[type="number"],
.editing-form input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.editing-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.center-content img {
    max-width: 30%; 
    height: auto;
}
.center-content-lampent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.center-content-lampent img {
    max-width: 20%; 
    height: auto;
}

.text-box {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 50%; 
}

.storeview .product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 130px;
}

.storeview .product-card {
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 250px; 
    transition: transform 0.2s;
}

.storeview .product-card img {
    max-width: 100%;
    height: auto;
}

.storeview .product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.storeview .product-card p {
    font-size: 14px;
    margin: 5px 0;
}

.storeview .product-card:hover {
    transform: scale(1.05); 
}

.link-button {
    width: 100px;
    padding: 10px;
    background-color: #757cbb;
    color: #282622;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.button-dash {
    color: #282622;
    background-color: #1397ab;
    border: 1px 1px 1px 1px #121212;
    width: 100%;
}

.text-box.dark-mode {
    background-color: #323230;
    color: #EFEFEF;
    border-color: #121212;
    box-shadow:1px 1px 1px 1px gray;
}

.product-card.dark-mode {
    background-color: #323230;
    color: #EFEFEF;
    border-color: #121212;
    box-shadow: 1px 1px 1px 1px gray;
}